.forgot-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7c6868;
  }
  
  .forgot-pass-form {
    background-color: #690303;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #e75804;
    color: white;
  }
  
  .forgot-pass-label {
    margin-bottom: 10px;
    color: white;
  }
  
  .forgot-pass-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn-custom {
    background-color: #520606;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .btn-custom:hover {
    background-color: #860808;
  }