/* Estilos para el componente Home */
.home {
  display: flex;
  height: 100vh;

  .homeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%; /* Ajusta el ancho al 100% */

    .header {
      color: #ff1744;
      margin: 20px 0;
    }

    .body {
      // display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      align-items: center;

      .componentArea {
        width: 100%;
      }
    }

    .footer {
      padding: 10px;
      color: #ff1744;
    }
  }
}

/* Estilos para el Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}